nav{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: bolder;
}
    
    .container{
        margin: 0px;
        position: relative;
    }
    .container>header{
        height: 400px;
        background-size: 100% 100%;
        background-image: url("../image/header.JPG");
        padding-bottom: 25%;
    }

    aside{
        width: 30%;
        float: right;

    }
    
    .menu>ul>li{ 
        display:inline-block;
    }
    .menu>ul>li>a{
        display: block;
        text-decoration: none;
        font-variant: small-caps;
        font-size: 10px;
        color: white;
        padding: 0 10px;
        line-height: 40px;
    } 
    .menu>ul{
           padding: 0px;
           margin: 0px;
           list-style-type: upper-alpha;
           border-radius: 0px;
           background-color: beige;
           text-align:center;
           height: 50px;
    }
    .menu>ul>li>a{
          text-decoration:none;
          font-variant:small-caps;
          font-size: 20px;
          color:brown;
          padding:0 10 px;
          line-height:40 px;
    }
    .menu>ul>li>a:hover{
           color: palevioletred;
    }
    .menu ul ul{
           position:absolute;
           display:none;
    }
    .menu ul ul a{
           display:block;
    }
    .menu>ul>li:hover>ul{
           display: block;
    }
    .menu ul ul{
           padding:0px;
           margin:0px;
           list-style:none;
           border-radius:3px;
           width:200px;
           background-color:white;
           box-shadow:0 0 1px gray;
    }
    .menu ul ul a{
           line-height:30px;
           color:brown;
           text-decoration:none;
           font-variant:small-caps;
           font-size: 15px;
           padding:0 20px;
    }
    .menu>ul>li:hover>ul{
        display: block;
        z-index: 1;
    }
    .menu ul ul a:hover{
           background-color:brown;
           color:white;
    }

    .company-info>h1{
        color: white;
        text-align: center;
        font-size: 100px;
        position: relative;
        bottom: 100px;
        top: 30px;
        font-variant: small-caps;
        height: 40px;
        padding: 20px;
        margin: 0px;
    }
    .company-info>h2{
        color: grey;
        text-align: center;
        font-size: 50px;
        position: relative;
    }
    .col-25{
        width: 50%;
        float:left;
    }
    .pord{
        border-radius: 0px;
        box-shadow: 0px 0px 5px grey;
        margin: 10px;
        padding:0px;
        text-align: center;
        position: relative;
        position: relative;
        left: 50%;
    }
    .pord:hover{

        border-radius: 0px;
        box-shadow: 0px 0px 10px grey;
        margin: 10px;
        padding:0px;
        text-align: center;
        position: relative;
        position: relative;
        left: 50%;
    }
    .pord>.name{
        position: absolute;
        font-variant:small-caps;
        color: palevioletred;
        text-align:center;
        bottom: 35px;
        left: 15px;
        right: 15px;
        font-family:fantasy;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .pord .image{
        max-width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }

    .pord>.price{
        position: absolute;
        left: 10px;
        bottom: 5px;
        font-family: impact Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
        color: red;
    }
    .pord{
        border-radius: 0px;
        box-shadow: 0px 0px 5px grey;
        margin: 10px;
        padding:0px;
        text-align: center;
        position: relative;
        left: 10px;
        right: 15px;
    }
    .pord:hover{
        border-radius: 0px;
        box-shadow: 0px 0px 10px grey;
        margin: 10px;
        padding:0px;
        text-align: center;
        position: relative;
        left: 10px;
        right: 15px;
    }
    .pord.name{
        position: absolute;
        font-variant:small-caps;
        color: palevioletred;
        text-align:center;
        bottom: 35px;
        left: 15px;
        right: 15px;
        font-family:fantasy;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .pord .image{
        max-width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }
    .pord .price{
        position: absolute;
        left: 10px;
        bottom: 5px;
        font-family: impact Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
        color: red;
    }
    
    .detail-content{
        text-align: left;
        position: relative;
        left: 60%;
        
    }
    .detail-content>h3{
        color: red;
        font-size: 25px;
    }
    .col-25-3{
        width: 100%;
        float:left;
    }   
    
    .pord3{
        border-radius: 0px;
        box-shadow: 0px 0px 5px grey;
        margin: 5px;
        padding:0px;
        text-align: center;
        position: relative;
        left: 10px;
        right: 15px;
    }
    .pord3:hover{
        border-radius: 0px;
        box-shadow: 0px 0px 40px gray;
        margin: 0px;
        padding:0px;
        text-align: center;
        position: relative;
        left: 10px;
        right: 15px;
    }
    .pord3 .name{
        position: absolute;
        font-variant: small-caps;
        color: beige;
        text-align:center;
        width: 100%;
        bottom: 200px;
        font-size: 100px;
    }
    .pord3 .image{
        height: 600px;
        margin-bottom: 0px;
    }

    footer{
        clear: both ;
        background-color: beige;
        text-align: left;
        position: relative;
        border-top: 5px dashed brown;
        font-variant: small-caps;
        height: 350px;
        margin-bottom: 10px;
    }